[Unit]
Description=Irrigation controller daemon
Requires=irrigationcontroller-setup.service
After=irrigationcontroller-setup.service

[Service]
Environment=PYTHONPATH=/home/root/irrigationcontroller/
WorkingDirectory=/home/root/irrigationcontroller/
ExecStart=/usr/bin/twistd -noy /home/root/irrigationcontroller/web.py
Restart=always

[Install]
WantedBy=multi-user.target
