[Unit]
Description=GPIO config for PBA
ConditionPathExists=|/sys/class/gpio
After=remount-rootfs.service

[Service]
RemainAfterExit=yes
ExecStart=/home/root/pba/gpio-config
