[Unit]
Description=PBA daemon
Requires=pba-setup.service
After=pba-setup.service

[Service]
WorkingDirectory=/home/root/pba/
ExecStart=./pba -c gpio-example.conf
Restart=always

[Install]
WantedBy=multi-user.target
