[Unit]
Description=PBA daemon
Requires=pba-setup.service
After=pba-setup.service

[Service]
WorkingDirectory=/home/root/pba/
ExecStart=/home/root/pba/pba -c /etc/pba.conf
Restart=always

[Install]
WantedBy=multi-user.target
